<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OutputDirectory" value="D:\projects\HtmlToPdf\HtmlToPdf.Parser\wkhtmltopdf\tmp"/>
    <add key="ApplicationPath" value="D:\projects\HtmlToPdf\HtmlToPdf.Parser\wkhtmltopdf\bin\wkhtmltopdf.exe"/>
  </appSettings>
</configuration>